/* Main stylesheet */
html {
  scroll-behavior: smooth;
  cursor: crosshair;
  cursor: url('images/menu/cursor-01.png'), auto;
}
a {
    cursor: cell;
    cursor: url('images/menu/cursor-01.png'), auto;
}
h2 {
    color: #000000;
    font-size: 1.2em;
    font-weight: 300;
    margin: 0 0 5px 0;
    text-transform: uppercase;
}
h3 {
    color: #000000;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0%;
    text-transform: uppercase;
}
p {
    color: #000000;
    font-size: 1em;
    margin: 0%;
    text-transform: lowercase;
}

/* Style for the body element */
body {
    background: #fff;
    
    font-family: Jost, sans-serif;
    font-style: italic;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;

}
/* MENU */
nav {
    width: 96%;
    height: 30px;
    margin: 10px 0px;
    padding: 10px 2%;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}
nav>ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
}
nav>ul>li {
    margin: 0 50px 0 0;
}
nav>ul>li>a {
    text-decoration: none;
    color: #f4f2f1;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1em;
    transition: 0.3s;
}
nav>ul>li>a:hover {
    color: #838383;
}
/* CONTATO */
.contact {
    display: flex;
    justify-content: right;
    margin-right: 0;
}
.contact>li {
    margin: 0  0 0 30px;
    width: 30px;
    height: 30px;
}
.contact img {
    width: 30px;
    height: 30px;
}
#menu-scroll {
  background-color: #ffffff;
  border-bottom: 1px solid #7a7a7a;
  position: fixed;
  top: -60px;
  width: 100%;
  display: block;
  transition: top .3s;
  z-index: 100;
}
#menu-scroll>ul {
    list-style-type: none;
    max-width: 90%;
    margin: auto;
    padding: 0;
}
#menu-scroll>ul>li>a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  transition: 0.3s;
}
#menu-scroll>ul>li>a:hover {
  color: #838383;
}
header {
    height: 100vh;
    width: 96%;
    margin: 10px 0px;
    padding: 20px 2%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-color: #fff;
    border-radius: 3px;
    scroll-margin-top: 60px;
}
#header-menu {
    scroll-margin-top: 60px;
    width: 100%;
    margin: 10px 0px 100px 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;
    justify-content: center;
    align-items: center;
}
.header-menu-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0%;
    margin: auto;
    overflow: hidden;
}
.header-menu-box>a {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 85%;
    transition: 0.1s;
    margin: 25px auto;
    border: 1px solid #7a7a7a;
    padding: 5%;
    aspect-ratio: 1/1;
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
}
.header-menu-box>a:hover {
    border: 1px solid #000000;
}
.main-menu {
    text-transform: uppercase;
}

#portfolio {
    width: 96%;
    margin: 10px 0px;
    padding: 20px 2%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-color: #fff;
    border-radius: 3px;
    scroll-margin-top: 60px;
}
.project-cat {
    width: 100%;
    margin: 10px 0px 100px 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 5px;
    row-gap: 5px;
    justify-content: left;
    align-items: left;

}
.project {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 0%;
    overflow: hidden;
}
.project>img {
    width: 85%;
    height: auto;
    opacity: 1;
    transition: 0.2s;
    margin: 2.5% auto;
    border: 1px solid #7a7a7a;
    padding: 5%;
}
.project>img:hover {
    border: 1px solid #000000;
    opacity: .95;
}
.project-v {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 0%;
    overflow: hidden;
}
.project-v>iframe {
    width: 540;
    height: auto;
    margin: 25px auto;
    border: 1px solid #7a7a7a;
    padding: 5%;
    aspect-ratio: 9/16;
}
.project-v>iframe:hover {
    border: 1px solid #000000;
}
#project-details {
    width: 80%;
    margin: 50px auto;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}
#project-details>img {
    width: 100%;
    border-radius: 3px;
    margin: 0 auto;
}
#contact {
    width: 96%;
    margin: 10px 0px 20px 0px;
    padding: 20px 2%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}
#contact>h2 {
    color: #000000;
    margin-bottom: 15px;
    font-size: 1em;
}
#contact>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
}
#contact>ul>li {
    margin: 0px 20px 0 0;
}
#contact>ul>li>a>img {
    width: 45px;
    opacity: 1;
    transition: 0.3s;
}
#contact>ul>li>a>img:hover {
    opacity: .8;
}
footer>p {
    color: #000000;
    margin: 15px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.8em;
}
#graphic-design,#motion-video {
    scroll-padding-top: 60px;
}