/* Main stylesheet */
html {
  scroll-behavior: smooth;
}
h2 {
    color: #1f4045;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 0 5px 0;
    text-transform: uppercase;
}
h3 {
    color: #1f4045;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0%;
    text-transform: uppercase;
}
p {
    color: #333;
    font-size: 1em;
    margin: 0%;
    text-transform: lowercase;
}

/* Style for the body element */
body {
    background: #1F4145;
    background: linear-gradient(135deg, rgba(51, 51, 51, 1) 0%, rgba(31, 65, 69, 1) 25%, rgba(127, 148, 145, 1) 75%, rgba(235, 204, 195, 1) 100%);
    font-family: Jost, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;

}
nav {
    width: 96%;
    margin: 10px 0px;
    padding: 20px 2%;
}
nav>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
}
nav>ul>li {
    margin: 0 50px 0 0;
}
nav>ul>li>a {
    text-decoration: none;
    color: #f4f2f1;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1em;
    transition: 0.3s;
}
nav>ul>li>a:hover {
    color: #7f9491;
}
#menu-scroll {
  background-color: #1f4045;
  position: fixed;
  top: -60px;
  width: 100%;
  display: block;
  transition: top .3s;
  z-index: 100;
}
#menu-scroll>ul {
    list-style-type: none;
    max-width: 80%;
    margin: auto;
    padding: 0;
}
#menu-scroll>ul>li>a {
  float: left;
  display: block;
  color: #f4f2f1;
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s;
}
#menu-scroll>ul>li>a:hover {
  color: #7f9491;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 0px;
    background-color: #f4f2f1;
    border-radius: 3px;
}
header>section>img {
    pointer-events: none;
}
#logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
#logo {
    width: 50%;
    height: auto;
}
#photo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
#photo {
    width: 60%;
    height: auto;
    margin: 50px 0px;
}
#about {
    width: 96%;
    margin: 10px 0px;
    padding: 20px 2%;
    display: flex;
    /* display: none; */
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-color:#f4f2f1;
    border-radius: 3px;
    scroll-margin-top: 60px;
}
#skills {
    width: 100%;
    margin: 10px 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 5px;
    row-gap: 5px;
    justify-content: left;
    align-items: left;
    
}
.skill {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}
.skill>img {
    width: 100%;
    height: auto;
    border-radius: 3px;
    opacity: 1;
    transition: 0.3s;
}
.skill>img:hover {
    opacity: .8;
}
#portfolio {
    width: 96%;
    margin: 10px 0px;
    padding: 20px 2%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-color: #f4f2f1;
    border-radius: 3px;
    scroll-margin-top: 60px;
}
.project-cat {
    width: 100%;
    margin: 10px 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 5px;
    row-gap: 5px;
    justify-content: left;
    align-items: left;
}
.project {
    width: auto;
    height: auto;
    aspect-ratio: 4/5;
    padding: 0%;
    border-radius: 3px;
    overflow: hidden;
}
.project>a>img {
    max-width: 100%;
    height: auto;
    opacity: 1;
    transition: 0.3s;
}
.project>a>img:hover {
    opacity: .8;
}
#project-details {
    width: 80%;
    margin: 50px auto;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}
#project-details>img {
    width: 100%;
    border-radius: 3px;
    margin: 0 auto;
}
#contact {
    width: 96%;
    margin: 10px 0px 20px 0px;
    padding: 20px 2%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}
#contact>h2 {
    color: #f4f2f1;
    margin-bottom: 15px;
    font-size: 1em;
}
#contact>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
}
#contact>ul>li {
    margin: 0px 20px 0 0;
}
#contact>ul>li>a>img {
    width: 45px;
    opacity: 1;
    transition: 0.3s;
}
#contact>ul>li>a>img:hover {
    opacity: .8;
}
footer>p {
    color: #1f4045;
    margin: 15px;
}